.Main {
    width: 100%;
    height: auto;
}

.Main .loading {
    position: absolute;
    background: #fff;
    top: 120px;
    z-index: 999;
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Main .loading-gif {
    width: 400px;
    height: 300px;

    background-position: center;
    background-size: cover;
}