.Article {
    width: 100%;
    height: auto;
    padding: 20px;
}

.Article .header {
    height: 700px;
    max-height: calc(100vh - 200px);
    min-height: 500px;
    position: relative;
}

.Article .header .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 120px);
    z-index: 10;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.Article .header .text-content {
    position: absolute;
    z-index: 11;
    width: 70%;
    height: auto;
    background: #FBFFFF;
    padding: 10px;
    top: 100%;
    left: 20px;
    margin-top: -120px;
}

.Article .header .text-content .subtitle {
    text-transform: uppercase;
    color: #961432;
}

.Article .header .text-content .title {
    font-weight: 700;
    font-size: 20px;
    color: #0a3c64;
}
.Article .content {
    padding: 20px 0;
    color: #0a3c64;
}

.Article .content > * {
    display: inline-block;
    vertical-align: top;
}

.Article .content .share {
    width: 20%;
}
.Article .content .full {
    width: calc(80% - 20px);
    white-space: pre-line;
    padding: 0 10px;
}