.ArticleListPreview {
    margin-top: 10px;
    color: #0a3c64;
}

.ArticleListPreview:first-child {
    margin-top: 0;
}

.ArticleListPreview .title {
    font-size: 20px;
    font-weight: 700;
    color: #961432;
}

.ArticleListPreview .read-more {
    display: inline-block;
    color: #961432;
    text-decoration: none;
    margin-top: 10px;
}

.ArticleListPreview .read-more:hover {
    text-decoration: underline;
}

