.ArticlePreview {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    flex: 1;
    overflow: hidden;
}


.ArticlePreview .overlay {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: linear-gradient(to bottom, #fff 0%,#000 100%);
    opacity: 0.3;
}

.ArticlePreview .overlay:hover {
    opacity: 0.2;
}

.ArticlePreview .title {
    color: #fff;
    font-size: 3vw;
    font-weight: 700;
    position: absolute;
    z-index: 11;
    top: calc(100% - 10vw);
    padding: 20px;
}

.ArticlePreview .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}