.BreadCrumbs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.BreadCrumbs li {
    display: inline-block;
    margin-left: 10px;
    color: #961432;
}

.BreadCrumbs li a {
    text-decoration: none;
}

.BreadCrumbs li:first-child {
    margin-left: 0;
}

.BreadCrumbs .chevron-right {
    margin-left: 7px;
}